body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Playfair Display','Space Mono', monospace, serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #596cb9;
    color: #fff;
    padding: 20px 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #596cb9;
    padding: 14px 20px;
    color: #031014;
}

.navbar-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-brand h2 a{
    color: #d3dfe2;
    margin: 0;
    text-decoration: none;
}

.navbar-menu ul li a {
    display: block;
    color: #eee4e4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-menu ul li a:hover {
    background-color: #ddd;
    color: rgb(60, 160, 56);
}

main {
    padding: 20px;
  }
  
.about-us h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .about-us h2 {
    font-size: 1.5em;
    margin-top: 30px;
  }

  .foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin-top: 7.8rem;
  }

  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #596cb9;
    color: #fff;
  }
  body{
    background-color: antiquewhite;
  }